

 <p>Su nombre es: <%= @nombre %></p>
 <p>Su apellido es: <%= @correo %></p>

 <h2>Estos son nuestros customer</h2>
 <table>
 	<tr>
 		<td>ID:</td>
 		<td>Nombre:</td>
 		<td>Correo:</td>
 	</tr>
 	<% @hashcustomer.each do |contenido| %>
 	<tr>
 		<td><%=contenido[:id] %></td>
 		<td><%=contenido[:nombre] %></td>
 		<td><%=contenido[:correo] %></td>
 	</tr>
 	<% end %>
 </table>	

 <h2>Esta es su info privada</h2>
 <table>
 	<tr>
 		<td>ID:</td>
 		<td>Nombre:</td>
 		<td>Correo:</td>
 	</tr>
 	<tr>
 		<td><%= @busqueda[:id] %></td>
 		<td><%= @busqueda[:nombre] %></td>
 		<td><%= @busqueda[:correo] %></td>
 	</tr>
 </table>